<h1 class='font-bold text-5xl mb-4'>Currency conversion</h1>
<div class='flex flex-wrap gap-2 mb-4'>
  <%= link_to 'Currencies', currencies_path, class: 'bg-blue-300 py-1 px-3 rounded-lg text-xl hover:bg-blue-400 font-medium' %>
  <%= link_to 'Currency Rates', currency_rates_path, class: 'bg-blue-300 py-1 px-3 rounded-lg text-xl hover:bg-blue-400 font-medium' %>
  <%= link_to 'Historical Exchange Rate', new_historical_exchange_rate_path, class: 'bg-blue-300 py-1 px-3 rounded-lg text-xl hover:bg-blue-400 font-medium' %>
</div>
<%= form_with scope: :convert_currency, url: convert_currency_path, class: 'bg-slate-200 rounded-md p-4 flex flex-col gap-2' do |f| %>
  <div class='flex flex-col'>
    <%= f.label :from, class: 'text-lg' %>
    <%= f.select :from, @currency_codes, include_blank: 'Select Currency', class: 'rounded-lg'  %>
  </div>
  <div class='flex flex-col'>
    <%= f.label :to, class: 'text-lg'%>
    <%= f.select :to, @currency_codes, include_blank: 'Select Currency', class: 'rounded-lg'  %>
  </div>
  <div class='flex flex-col mb-2'>
    <%= f.label :amount, 'Amount to Convert', class: 'text-lg'%>
    <%= f.number_field :amount, class: 'rounded-lg' %>
  </div>
  <%= f.submit 'Convert', class: 'bg-blue-300 py-1 px-3 rounded-lg text-xl hover:bg-blue-400 font-medium cursor-pointer' %>
<% end %>
