<h1 class='font-bold text-5xl mb-4 text-center'>Historical Exchange Rate</h1>
<%= form_with scope: :historical_exchange_rate, url: historical_exchange_rate_path, class: 'bg-slate-200 rounded-md p-4 flex flex-col gap-2' do |f| %>
  <div class='flex flex-col'>
    <%= f.label :base, 'Base Currency', class: 'text-lg' %>
    <%= f.select :base, @currency_codes, class: 'rounded-lg', selected: :USD %>
  </div>
  <div class='flex flex-col'>
    <%= f.label :date, class: 'text-sm' %>
    <%= f.date_field :date, class: 'rounded-lg', value: Time.zone.today.strftime("%Y-%m-%d") %>
  </div>
  <div class='flex flex-col mb-2'>
    <%= f.label :symbols, 'Currency Codes to Search (default: all)', class: 'text-lg'%>
    <%= f.select :symbols, @currency_codes, { selected: @currency_codes }, { class: 'rounded-lg', multiple: true } %>
  </div>
  <%= f.submit 'See Historical Exchange Rate', class: 'bg-blue-300 py-1 px-3 rounded-lg text-xl hover:bg-blue-400 font-medium cursor-pointer' %>
<% end %>
