<h1 class='font-bold text-5xl mb-2'>Historical Exchange Rate</h1>
<div class='flex flex-wrap gap-4 text-lg'>
  <p>Date: <%= @historical_exchange_data.date %></p>
  <p>Base Currency: <%= @historical_exchange_data.base %></p>
</div>
<div class='overflow-auto max-h-3/6 min-h-fit w-fit'>
  <table class='bg-blue-100'>
    <thead>
      <tr class='bg-blue-500'>
        <th class='p-2'>Currency Code</th>
        <th>Conversion Rate (=1<%=@historical_exchange_data.base%>)</th>
      </tr>
    </thead>
    <tbody>
      <% @historical_exchange_data.rates.each_pair do |currency_code, currency_value|%>
        <tr class='text-center'>
          <td class='p-1'><%= currency_code %></td>
          <td><%= currency_value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'See another historical exchange rate', new_historical_exchange_rate_path, class: 'font-bold text-2xl bg-amber-400 hover:bg-amber-500 py-1 px-3 rounded-lg font-medium mt-4' %>
<div class='flex flex-wrap gap-2 mt-2'>
  <%= link_to 'Currencies', currencies_path, class: 'bg-blue-300 py-1 px-3 rounded-lg text-xl hover:bg-blue-400 font-medium' %>
  <%= link_to 'Currency Rates', currency_rates_path, class: 'bg-blue-300 py-1 px-3 rounded-lg text-xl hover:bg-blue-400 font-medium' %>
  <%= link_to 'Convert Currency', new_convert_currency_path, class: 'bg-blue-300 py-1 px-3 rounded-lg text-xl hover:bg-blue-400 font-medium' %>
</div>
