<nav class="flex justify-between items-center h-16 px-5 lg:px-16 w-full bg-blue-500 relative">
  <%= link_to root_path, class: "text-white text-xl lg:text-2xl font-bold lg:w-auto w-fit" do %>
    <div class="flex gap-3 items-center ">
      <div class="flex gap-2 items-center"><i class="las la-wallet"></i>
        <p class="hidden lg:inline-block">Currency</p>
      </div>
    </div>
  <% end %>
  <span id="hamburger" class="lg:hidden text-white text-lg font-bold">&#9776;</span>
  <ul id="list" class="hidden bg-blue-500 text-white gap-0 w-full lg:w-auto z-10 flex flex-col absolute top-0 right-0 mt-16 px-4 py-2 text-left lg:mr-0 lg:text-left lg:mt-0 lg:flex-row lg:gap-4 lg:flex lg:static">
    <li><%= link_to "Conversion", new_convert_currency_path, class: "text-xl lg:text-lg font-medium hover:text-slate-200" %></li>
    <li><%= link_to "Currencies", currencies_path, class: "text-xl lg:text-lg font-medium hover:text-slate-200" %></li>
    <li><%= link_to "Currency Rate", currency_rates_path, class: "text-xl lg:text-lg font-medium hover:text-slate-200" %></li>
    <li><%= link_to "Historical Rate", new_historical_exchange_rate_path,class: "text-xl lg:text-lg font-medium hover:text-slate-200" %>
    </ul>
  </nav>
